# Configuration for {{.AppName}}
Version: {{.Version}}
Environment: {{.Environment}}

[Database]
Host: {{.Database.Host}}
Port: {{.Database.Port}}
User: {{.Database.User}}
Password: {{.Database.Password}}

[Features]
EnableFeatureA: {{.Features.EnableFeatureA}}
EnableFeatureB: {{.Features.EnableFeatureB}}
